<!--
  Generated template for the AjustesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ajustes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
    <ion-list>
  <button  ion-item (click)="buttonClick()">
    Notificaciones
  </button>

  <button ion-item (click)="buttonClick2()">
    Language
  </button>
 
  <button ion-button full icon-left (click)="toggleAppTheme()">
    <ion-icon name="bulb"></ion-icon>Night Mode
  </button>


 

</ion-list>

</ion-content>
