<!--
  Generated template for the EditarReviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
 
    <ion-navbar>
      <ion-title>{{review?.title}}</ion-title>
    </ion-navbar>
   
  </ion-header>
   
  <ion-content padding>
   
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input [(ngModel)]="review.title" placeholder="Java Sample Approach"></ion-input>
    </ion-item>
   
    <ion-item>
      <ion-label>Content</ion-label>
      <ion-textarea [(ngModel)]="review.content" placeholder="Java Technology - Spring Framework"></ion-textarea>
    </ion-item>
   
  </ion-content>