<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Inicia sesion</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>

        <ion-item>
            <ion-label floating>Correo electronico</ion-label>
            <ion-input type="text" #username></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Contraseña</ion-label>
            <ion-input type="password" #password></ion-input>
          </ion-item>
          <br>
        <button ion-button  full (click)="login()"color="secondary" >Iniciar sesion</button>
      
      </ion-list>

</ion-content>
