<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Inicio" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Cursos" tabIcon="book"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Ajustes" tabIcon="cog"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Perfil" tabIcon="person"></ion-tab>
</ion-tabs>
