<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
     <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>
<ion-header>
  <ion-navbar color="accent">
     <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
     </button>
     <ion-title>Mi perfil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
     <ion-avatar item-start>
        <img src="assets/imgs/gorillaz.png" style="height: 80px; width: 80px;">
     </ion-avatar>
     <h2>Jesus Rodriguez</h2>
     <p>IDS</p>
     <p> Cuarto semestre</p>
  </ion-item>
  <ion-card-content>
     <p>Solo hago reviews para obtener comida gratis. Reviews personales por experiencia.</p>
  </ion-card-content>
  <button ion-button color="danger" (click)="cerrarSesion()">Cerrar Sesión</button>
  </ion-content>