<!--
  Generated template for the ReviewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Reviews</ion-title>
    <ion-toolbar>
        <ion-segment [(ngModel)]="reviews">
          <ion-segment-button value="misReviews">
            Mis reviews
          </ion-segment-button>
          <ion-segment-button value="promociones">
            Promociones
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <div [ngSwitch]="reviews">
        <ion-list *ngSwitchCase= "'misReviews'">
            <ion-card>
                <ion-col center text-center>
                    <ion-note>
                      Ayer
                    </ion-note>
                  </ion-col>
                <ion-item>
                  <h2>Samuel Isaac Navarro Riojas</h2>
                  <p>Introducción al desarrollo de aplicaciones móviles</p>
                  
                </ion-item>
    
                <ion-card-content>
                  <p>Muy buen profesor!</p>
                </ion-card-content>
              
                <ion-row>
                  <ion-col>
                    <button ion-button icon-left clear small>
                      <ion-icon name="thumbs-up"></ion-icon>
                      <div>5 Likes</div>
                    </button>
                  </ion-col>
                </ion-row>
              </ion-card>          
        </ion-list>
        <ion-list *ngSwitchCase= "'promociones'">
            <ion-card>
                <ion-card-header>
                  Subway: Galleta gratis
                </ion-card-header>
                <ion-card-content>
                  7AB86F
                </ion-card-content>
              </ion-card>
        </ion-list>
      </div>

</ion-content>
