<!--
  Generated template for the CursosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cursos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="profesor()">
      {{ item }}
    </button>  
  </ion-list>

</ion-content>
