<ion-header>
  <ion-navbar>
    <ion-title>Inicio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-card>
    <img src="assets/imgs/anunciotecmi.jpg"/>
    <ion-card-content>
      <ion-card-title>
        ¡Te estamos buscando!
        </ion-card-title>
      <p>
          Si eres un líder proactivo y eres estudiante de profesional, se parte del grupo estudiantil #SPIRITS!
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/subwaycookies.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Promocion Subway
        </ion-card-title>
      <p>
        Realiza tu primer review y obten una galleta gratis en Subway con cualquier compra!
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
