.dark-theme{
        ion-content {
                background-color: #020f2f;
                color: #fff;
        }
    
   .header .toolbar-title{
            color: #fff;
    
    }
        .toolbar-background {
                border-color: #ff0fff;
            background-color: #090f2f;
    }
    }