<!--
  Generated template for the PaginaTemporalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Samuel Navarro</ion-title>
    <ion-buttons end>
        <button navPush="AgregarReviewPage" ion-button>
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-content padding>
    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/imgs/defaultpp.png" style="height: 80px; width: 80px;">
      </ion-avatar>
      <h2>Samuel Navarro</h2>
      <p>Aplicaciones Moviles</p>
      <p> samuelnavarro@tecmilenio.mx</p>
   </ion-item>

    <br>
   <ion-list>
      <ion-list-header>
          <strong>Reviews
              <ion-icon name="star"></ion-icon>
           </strong>
      </ion-list-header>
   
      <ion-item *ngFor="let review of reviewList | async" 
      detail-push navPush="EditarReviewPage" [navParams]="{review:review}">
        {{review.title}}
      </ion-item>
    </ion-list>



</ion-content>
