<!--
  Generated template for the NotificacionesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Notificaciones</ion-title>
  </ion-navbar>

</ion-header>
<ion-item>
  <ion-label>Notificaciones</ion-label>
  <ion-toggle [(ngModel)]="pepperoni"></ion-toggle>
</ion-item>


<ion-content padding>

</ion-content>
