<!--
  Generated template for the BienvenidaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>

  <h1>Bienvenido!</h1>

  <button ion-button full class="marginTop" (click)="login()">Iniciar sesion</button>
  <button ion-button full (click)="signup()">Crear una cuenta</button>

  

</ion-content>
