<!--
  Generated template for the RegistrarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registrate aqui</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>

          <ion-item>
            <ion-label floating>Correo electronico</ion-label>
            <ion-input type="text" #username></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Contraseña</ion-label>
            <ion-input type="password" #password></ion-input>
          </ion-item>

          <br>
        <button ion-button full (click)="registrar()">Registrar</button>
      
      </ion-list>

</ion-content>
