<!--
  Generated template for the AgregarReviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
 
    <ion-navbar>
      <ion-title>Agregar Review</ion-title>
    </ion-navbar>
   
  </ion-header>
   
  <ion-content padding>
   
    <ion-item>
      <ion-label>Titulo</ion-label>
      <ion-input [(ngModel)]="review.title" placeholder="Titulo"></ion-input>
    </ion-item>
   
    <ion-item>
      <ion-label>Contenido</ion-label>
      <ion-textarea [(ngModel)]="review.content" placeholder="Escribe tu review"></ion-textarea>
    </ion-item>
   
    <button ion-button block clear (click)="addreview(review)">Add</button>
  </ion-content>